#################################################################################################
#######################################  EXECUTION SETUP  #######################################
#################################################################################################

# NODE_ENV:                 development - execute the platform in development environment
#                           test - execute the platform in test environment
#                           production - execute the platform in production environment
#                           default value: development
NODE_ENV=development

#################################################################################################
####################################### ACCOUNT API SETUP #######################################
#################################################################################################

# PORT_HTTP:                Port used by the ACCOUNT service to listen for HTTP request.
#                           default value: 3000
PORT_HTTP=4000

# PORT_HTTPS:               Port used to listen for HTTPS request
#                           default value: 3001
PORT_HTTPS=4001

#################################################################################################
####################################### CERTIFICATES/KEYS #######################################
#################################################################################################

# SSL_CERT_PATH:            Certificate SSL
#                           default value: ./.certs/server_cert.pem
#
#                           To generate self-signed certificates,
#                           use the ./create-self-signed-certs.sh script.
SSL_CERT_PATH=./.certs/server_cert.pem

# SSL_KEY_PATH:             Private key for SSL certificate
#                           default value: ./.certs/server_key.pem
#
#                           To generate self-signed certificates,
#                           use the ./create-self-signed-certs.sh script.
SSL_KEY_PATH=./.certs/server_key.pem

#################################################################################################
####################################### INFORMIX SETUP ##########################################
#################################################################################################

# INFORMIX_SERVER:          The name or alias of the instance of the Informix server to which to connect.
#                           default value: informix_server
INFORMIX_SERVER=informix_server

# INFORMIX_DB:             The name of the database within the server instance.
#                          default value: informix_database
INFORMIX_DB=informix_database

# INFORMIX_HOST:           The name or IP address of the machine on which the Informix server is running.
#                          default value: informix_host
INFORMIX_HOST=informix_host

# INFORMIX_PORT:           The port number through which the server is listening for connection requests.
#                          default value: informix_host
INFORMIX_PORT=informix_port

# INFORMIX_USER:           User used to connect to the Informix database server.
#                          default value: informix_user
INFORMIX_USER=informix_user

# INFORMIX_PASS:           Access password used to connect to the Informix database server.
#                          default value: informix_pass
INFORMIX_PASS=informix_pass

#################################################################################################
######################################## DATABASES SETUP ########################################
#################################################################################################

# MONGODB_URI:              Database connection URI used by the ACCOUNT service for connecting to
#                           a MongoDB instance if the application is running in development or
#                           production environment (NODE_ENV=development or NODE_ENV=production).
#                           default value: mongodb://localhost:27017/account-service
MONGODB_URI=mongodb://localhost:27017/data-cross-service

# MONGODB_URI_TEST:         Database connection URI used by the ACCOUNT service for connecting to
#                           a MongoDB instance if the application is running test environment
#                           (NODE_ENV=test).
#                           default value: mongodb://localhost:27017/data-cross-service-test
MONGODB_URI_TEST=mongodb://localhost:27017/data-cross-service-test
